.dialog:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.text__jNi02 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__kAoG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sLso {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: rgb(255, 255, 255);
  width: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 300px;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #e2e8f0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: calc(0px + 8px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__y82Gg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__y82Gg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__y82Gg > :global(.__wab_flex-container) > *,
.freeBox__y82Gg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y82Gg > :global(.__wab_flex-container) > picture > img,
.freeBox__y82Gg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__e6JAk {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.7;
  max-width: 100%;
  object-fit: cover;
  border-radius: 999px;
}
