.hamraveshToken {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.hamraveshToken > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__x5Lt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
}
.img__kUHyr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kUHyr > picture > img {
  object-fit: cover;
}
.text__cqLd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.httpsconsolehamraveshcomprofileapiKeys {
  position: relative;
}
.img__rRQmy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 50px;
}
.img__rRQmy > picture > img {
  object-fit: cover;
}
.img__cQgy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 50px;
}
.img__cQgy > picture > img {
  object-fit: cover;
}
.img__pP9Pk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin: 50px auto auto;
}
.img__pP9Pk > picture > img {
  object-fit: cover;
}
.text__tmWpA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
}
