@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}

.holiday-style.-selected {
  @apply !text-white;
}

.holiday-style {
  @apply !text-red-500;
}

@layer utilities {
    .font-thin {
      font-weight: 100;
      font-variation-settings: "wght" 100;
    }
    .font-extralight {
      font-weight: 200;
      font-variation-settings: "wght" 200;
    }
    .font-light {
      font-weight: 300;
      font-variation-settings: "wght" 300;
    }
    .font-normal {
      font-weight: 400;
      font-variation-settings: "wght" 400;
    }
    .font-medium {
      font-weight: 500;
      font-variation-settings: "wght" 500;
    }
    .font-semibold {
      font-weight: 600;
      font-variation-settings: "wght" 600;
    }
    .font-bold {
      font-weight: 700;
      font-variation-settings: "wght" 700;
    }
    .font-extrabold {
      font-weight: 800;
      font-variation-settings: "wght" 800;
    }
    .font-black {
      font-weight: 900;
      font-variation-settings: "wght" 900;
    }
  }
  
  * {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
    font-family: var(--iran-sans-x), tahoma;
  }

  body{
    direction: rtl;
  }
  
  button {
    font-family: var(--iran-sans-x), tahoma !important;
  }
