.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox__oNzqi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__oNzqi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__oNzqi > :global(.__wab_flex-container) > *,
.freeBox__oNzqi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oNzqi > :global(.__wab_flex-container) > picture > img,
.freeBox__oNzqi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oNzqi {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oNzqi > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.rangOfBooking {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .rangOfBooking {
    width: 100%;
    min-width: 0;
  }
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.accordionItem__bVeey:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__a0Zqe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1DFm2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1DFm2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___1DFm2 > :global(.__wab_flex-container) > *,
.freeBox___1DFm2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1DFm2 > :global(.__wab_flex-container) > picture > img,
.freeBox___1DFm2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text___5XwMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5XwMp {
    font-size: 11px;
    font-weight: 500;
  }
}
.freeBox__ae6B6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__ae6B6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__ae6B6 > :global(.__wab_flex-container) > *,
.freeBox__ae6B6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ae6B6 > :global(.__wab_flex-container) > picture > img,
.freeBox__ae6B6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ae6B6 > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
    width: calc(100% + var(--token-fhaz6q6bl-fW));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ae6B6 > :global(.__wab_flex-container) > *,
  .freeBox__ae6B6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ae6B6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ae6B6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-fhaz6q6bl-fW);
    margin-top: 0px;
  }
}
.from:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .from:global(.__wab_instance) {
    width: 70px;
    flex-shrink: 0;
  }
}
.text__awejM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.to:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .to:global(.__wab_instance) {
    width: 70px;
    flex-shrink: 0;
  }
}
.text__l0Ywm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___7IIwg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fkJtl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7EoxE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem__gfclz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__rUMkO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fZiT3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cancellationPolicy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.accordionCancellationPolicy:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.accordionItem___5VbYh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eyyt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kbhem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kbhem > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__kbhem > :global(.__wab_flex-container) > *,
.freeBox__kbhem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbhem > :global(.__wab_flex-container) > picture > img,
.freeBox__kbhem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__zV7Mv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zV7Mv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__zV7Mv > :global(.__wab_flex-container) > *,
.freeBox__zV7Mv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zV7Mv > :global(.__wab_flex-container) > picture > img,
.freeBox__zV7Mv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zV7Mv > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
    width: calc(100% + var(--token-fhaz6q6bl-fW));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zV7Mv > :global(.__wab_flex-container) > *,
  .freeBox__zV7Mv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zV7Mv > :global(.__wab_flex-container) > picture > img,
  .freeBox__zV7Mv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-fhaz6q6bl-fW);
    margin-top: 0px;
  }
}
.text__rZtv0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: justify;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rZtv0 {
    font-size: 11px;
    font-weight: 500;
  }
}
.freeBox__pDza {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__pDza > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__pDza > :global(.__wab_flex-container) > *,
.freeBox__pDza > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pDza > :global(.__wab_flex-container) > picture > img,
.freeBox__pDza
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pDza > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
    width: calc(100% + var(--token-fhaz6q6bl-fW));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pDza > :global(.__wab_flex-container) > *,
  .freeBox__pDza > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pDza > :global(.__wab_flex-container) > picture > img,
  .freeBox__pDza
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-fhaz6q6bl-fW);
    margin-top: 0px;
  }
}
.value:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value:global(.__wab_instance) {
    width: 70px;
    flex-shrink: 0;
  }
}
.text__wycYf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__zvsIw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__f6OxJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jgtSb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem___0CglZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__toVZo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zk8Hq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
