.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.text__xjgxP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 17px;
  min-width: 0;
  padding: 10px;
  border-bottom: 1px solid #cbd5e1;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sendwhom2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sendwhom2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.sendwhom2 > :global(.__wab_flex-container) > *,
.sendwhom2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sendwhom2 > :global(.__wab_flex-container) > picture > img,
.sendwhom2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__lV7Xd {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
  min-width: 0;
}
.freeBox__lvjSv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox___2019Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___18Jwk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__sUkA {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  display: none;
}
.svg__ffMfE {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  display: none;
}
.sendwhat2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid #e2e8f0;
}
.sendwhat2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.sendwhat2 > :global(.__wab_flex-container) > *,
.sendwhat2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sendwhat2 > :global(.__wab_flex-container) > picture > img,
.sendwhat2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__fdHs4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
  min-width: 0;
}
.fragmentPopoverEditNotification2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___32X7G {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox__nsFa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wAbdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__x82Re {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__ihpRx {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__eg4TZ {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-zGjeYJZOhQzx);
}
.freeBox__eg4TZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__eg4TZ > :global(.__wab_flex-container) > *,
.freeBox__eg4TZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eg4TZ > :global(.__wab_flex-container) > picture > img,
.freeBox__eg4TZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.freeBox__qGiq5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__qGiq5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__qGiq5 > :global(.__wab_flex-container) > *,
.freeBox__qGiq5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qGiq5 > :global(.__wab_flex-container) > picture > img,
.freeBox__qGiq5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.drname2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.drname2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.drname2 > :global(.__wab_flex-container) > *,
.drname2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.drname2 > :global(.__wab_flex-container) > picture > img,
.drname2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__kvvtF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__hCoKf {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.patientname2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.patientname2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.patientname2 > :global(.__wab_flex-container) > *,
.patientname2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.patientname2 > :global(.__wab_flex-container) > picture > img,
.patientname2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__yj9Ee {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__er3K {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.refid2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.refid2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.refid2 > :global(.__wab_flex-container) > *,
.refid2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.refid2 > :global(.__wab_flex-container) > picture > img,
.refid2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__iRVaO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__nKjMd {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.booktime2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.booktime2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.booktime2 > :global(.__wab_flex-container) > *,
.booktime2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.booktime2 > :global(.__wab_flex-container) > picture > img,
.booktime2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__kVq9K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__p5Bcz {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__s9WW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.sample3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.sample3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.sample3 > :global(.__wab_flex-container) > *,
.sample3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sample3 > :global(.__wab_flex-container) > picture > img,
.sample3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox__rE4Xb {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
  border-bottom: 1px solid #94a3b8;
}
.text__aAyI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hgVdF {
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: left;
  flex-shrink: 0;
}
.text___6NBa8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.accordion2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.accordionItem__fHddr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uiSDl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sample4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.sample4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.sample4 > :global(.__wab_flex-container) > *,
.sample4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sample4 > :global(.__wab_flex-container) > picture > img,
.sample4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox___5Ght9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #94a3b8;
}
.text__tjJae {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vl2Xj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__qU2Qx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem___8Ogu0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text___10Bd1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__t7Pa4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___8LGuS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5X9C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
