.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-QcxRWQfhgyJI);
  height: var(--token-QcxRWQfhgyJI);
  flex-shrink: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___6GKnj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.durationOfWorkhour:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kIPq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.workhours:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sjcMu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aj65V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
