.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 4px;
}
.slotTargetNumber {
  font-size: 36px;
}
.text___2OhcT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.7;
  min-width: 0;
  padding: 0px;
}
.text__n1YHg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
