.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 110px;
  min-width: 110px;
}
.svg__liVj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.textvisited {
  color: var(--token-u3OudfMChOo3);
}
.svg__cr0Xs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
