.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.fragmentPopover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__cxKPj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  background: #ebeff8;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: var(--token-vMUQwr5Jto1d);
}
.freeBox__zu23P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: justify;
  align-self: flex-start;
  text-decoration-line: none;
  user-select: text;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
}
.svg__cx4Z5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ie7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__jC2P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 390px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.freeBox__jC2P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__jC2P > :global(.__wab_flex-container) > *,
.freeBox__jC2P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jC2P > :global(.__wab_flex-container) > picture > img,
.freeBox__jC2P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.drCenter__ljbmU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.drCenter__j931:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.activeVisitOnline:global(.__wab_instance) {
  max-width: 100%;
}
.activeOfficeBooking__jmJal:global(.__wab_instance) {
  max-width: 100%;
}
.activeOfficeBooking__huSrL:global(.__wab_instance) {
  max-width: 100%;
}
