@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-IOWZQyrdKsEL: #27bda00d;
  --plasmic-token-nelson-green: var(--token-IOWZQyrdKsEL);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-YacMGHKFGMD5_font-family: var(--iran-sans-x);
  --mixin-YacMGHKFGMD5_font-size: 16px;
  --mixin-YacMGHKFGMD5_font-weight: 400;
  --mixin-YacMGHKFGMD5_font-style: normal;
  --mixin-YacMGHKFGMD5_color: #000000;
  --mixin-YacMGHKFGMD5_text-align: right;
  --mixin-YacMGHKFGMD5_text-transform: none;
  --mixin-YacMGHKFGMD5_line-height: 1.5;
  --mixin-YacMGHKFGMD5_letter-spacing: normal;
  --mixin-YacMGHKFGMD5_white-space: pre-wrap;
  --mixin-YacMGHKFGMD5_user-select: text;
  --mixin-YacMGHKFGMD5_text-decoration-line: none;
  --mixin-YacMGHKFGMD5_text-overflow: clip;
  --mixin--FLhvmxju1zo_color: #000000;
  --mixin--FLhvmxju1zo_font-weight: 700;
  --mixin--FLhvmxju1zo_font-size: 64px;
  --mixin--FLhvmxju1zo_line-height: 1;
  --mixin--FLhvmxju1zo_letter-spacing: -1px;
  --mixin--FLhvmxju1zo_white-space: pre-wrap;
  --mixin-7rH4rRkRAKF-_color: #000000;
  --mixin-7rH4rRkRAKF-_font-size: 48px;
  --mixin-7rH4rRkRAKF-_font-weight: 700;
  --mixin-7rH4rRkRAKF-_letter-spacing: -0.5px;
  --mixin-7rH4rRkRAKF-_line-height: 1.1;
  --mixin-7rH4rRkRAKF-_white-space: pre-wrap;
  --mixin-F_s2yhdyfLQT_color: #0070f3;
  --mixin-F_s2yhdyfLQT_white-space: pre-wrap;
  --mixin-8raUeAo4FVEX_color: #000000;
  --mixin-8raUeAo4FVEX_font-size: 32px;
  --mixin-8raUeAo4FVEX_font-weight: 600;
  --mixin-8raUeAo4FVEX_line-height: 1.2;
  --mixin-8raUeAo4FVEX_white-space: pre-wrap;
  --mixin-Cs5PnsJM4_Gi_color: #000000;
  --mixin-Cs5PnsJM4_Gi_font-size: 24px;
  --mixin-Cs5PnsJM4_Gi_font-weight: 600;
  --mixin-Cs5PnsJM4_Gi_line-height: 1.3;
  --mixin-Cs5PnsJM4_Gi_white-space: pre-wrap;
  --mixin-e0t8ZzzXDxUG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-e0t8ZzzXDxUG_border-bottom-color: #dddddd;
  --mixin-e0t8ZzzXDxUG_border-bottom-style: solid;
  --mixin-e0t8ZzzXDxUG_border-bottom-width: 1px;
  --mixin-e0t8ZzzXDxUG_border-left-color: #dddddd;
  --mixin-e0t8ZzzXDxUG_border-left-style: solid;
  --mixin-e0t8ZzzXDxUG_border-left-width: 1px;
  --mixin-e0t8ZzzXDxUG_border-right-color: #dddddd;
  --mixin-e0t8ZzzXDxUG_border-right-style: solid;
  --mixin-e0t8ZzzXDxUG_border-right-width: 1px;
  --mixin-e0t8ZzzXDxUG_border-top-color: #dddddd;
  --mixin-e0t8ZzzXDxUG_border-top-style: solid;
  --mixin-e0t8ZzzXDxUG_border-top-width: 1px;
  --mixin-e0t8ZzzXDxUG_border-bottom-left-radius: 3px;
  --mixin-e0t8ZzzXDxUG_border-bottom-right-radius: 3px;
  --mixin-e0t8ZzzXDxUG_border-top-left-radius: 3px;
  --mixin-e0t8ZzzXDxUG_border-top-right-radius: 3px;
  --mixin-e0t8ZzzXDxUG_font-family: "Inconsolata";
  --mixin-e0t8ZzzXDxUG_padding-bottom: 1px;
  --mixin-e0t8ZzzXDxUG_padding-left: 4px;
  --mixin-e0t8ZzzXDxUG_padding-right: 4px;
  --mixin-e0t8ZzzXDxUG_padding-top: 1px;
  --mixin-e0t8ZzzXDxUG_white-space: pre-wrap;
  --mixin-0OcmSIi1avME_border-left-color: #dddddd;
  --mixin-0OcmSIi1avME_border-left-style: solid;
  --mixin-0OcmSIi1avME_border-left-width: 3px;
  --mixin-0OcmSIi1avME_color: #888888;
  --mixin-0OcmSIi1avME_padding-left: 10px;
  --mixin-0OcmSIi1avME_white-space: pre-wrap;
  --mixin-qMTkZaiFYxk3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qMTkZaiFYxk3_border-bottom-color: #dddddd;
  --mixin-qMTkZaiFYxk3_border-bottom-style: solid;
  --mixin-qMTkZaiFYxk3_border-bottom-width: 1px;
  --mixin-qMTkZaiFYxk3_border-left-color: #dddddd;
  --mixin-qMTkZaiFYxk3_border-left-style: solid;
  --mixin-qMTkZaiFYxk3_border-left-width: 1px;
  --mixin-qMTkZaiFYxk3_border-right-color: #dddddd;
  --mixin-qMTkZaiFYxk3_border-right-style: solid;
  --mixin-qMTkZaiFYxk3_border-right-width: 1px;
  --mixin-qMTkZaiFYxk3_border-top-color: #dddddd;
  --mixin-qMTkZaiFYxk3_border-top-style: solid;
  --mixin-qMTkZaiFYxk3_border-top-width: 1px;
  --mixin-qMTkZaiFYxk3_border-bottom-left-radius: 3px;
  --mixin-qMTkZaiFYxk3_border-bottom-right-radius: 3px;
  --mixin-qMTkZaiFYxk3_border-top-left-radius: 3px;
  --mixin-qMTkZaiFYxk3_border-top-right-radius: 3px;
  --mixin-qMTkZaiFYxk3_font-family: "Inconsolata";
  --mixin-qMTkZaiFYxk3_padding-bottom: 3px;
  --mixin-qMTkZaiFYxk3_padding-left: 6px;
  --mixin-qMTkZaiFYxk3_padding-right: 6px;
  --mixin-qMTkZaiFYxk3_padding-top: 3px;
  --mixin-qMTkZaiFYxk3_white-space: pre-wrap;
  --mixin-06sNyQAPYLIR_display: flex;
  --mixin-06sNyQAPYLIR_flex-direction: column;
  --mixin-06sNyQAPYLIR_align-items: stretch;
  --mixin-06sNyQAPYLIR_justify-content: flex-start;
  --mixin-06sNyQAPYLIR_list-style-position: outside;
  --mixin-06sNyQAPYLIR_padding-left: 40px;
  --mixin-06sNyQAPYLIR_position: relative;
  --mixin-06sNyQAPYLIR_list-style-type: disc;
  --mixin-06sNyQAPYLIR_white-space: pre-wrap;
  --mixin-do-TASBT640B_display: flex;
  --mixin-do-TASBT640B_flex-direction: column;
  --mixin-do-TASBT640B_align-items: stretch;
  --mixin-do-TASBT640B_justify-content: flex-start;
  --mixin-do-TASBT640B_list-style-position: outside;
  --mixin-do-TASBT640B_padding-left: 40px;
  --mixin-do-TASBT640B_position: relative;
  --mixin-do-TASBT640B_list-style-type: decimal;
  --mixin-do-TASBT640B_white-space: pre-wrap;
  --mixin-II9k6P_ci_nE_color: #000000;
  --mixin-II9k6P_ci_nE_font-size: 20px;
  --mixin-II9k6P_ci_nE_font-weight: 600;
  --mixin-II9k6P_ci_nE_line-height: 1.5;
  --mixin-II9k6P_ci_nE_white-space: pre-wrap;
  --mixin-THxBVz7YGrzF_color: #000000;
  --mixin-THxBVz7YGrzF_font-size: 16px;
  --mixin-THxBVz7YGrzF_font-weight: 600;
  --mixin-THxBVz7YGrzF_line-height: 1.5;
  --mixin-THxBVz7YGrzF_white-space: pre-wrap;
  --mixin-fiarUd8-D2Tm_color: #3291ff;
  --mixin-fiarUd8-D2Tm_white-space: pre-wrap;
  --mixin-bJL8VC5iS0m__white-space: pre-wrap;
  --mixin-AsczQC8KvgTE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-YacMGHKFGMD5_font-family);
  font-size: var(--mixin-YacMGHKFGMD5_font-size);
  font-weight: var(--mixin-YacMGHKFGMD5_font-weight);
  font-style: var(--mixin-YacMGHKFGMD5_font-style);
  color: var(--mixin-YacMGHKFGMD5_color);
  text-align: var(--mixin-YacMGHKFGMD5_text-align);
  text-transform: var(--mixin-YacMGHKFGMD5_text-transform);
  line-height: var(--mixin-YacMGHKFGMD5_line-height);
  letter-spacing: var(--mixin-YacMGHKFGMD5_letter-spacing);
  white-space: var(--mixin-YacMGHKFGMD5_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin--FLhvmxju1zo_color);
  font-weight: var(--mixin--FLhvmxju1zo_font-weight);
  font-size: var(--mixin--FLhvmxju1zo_font-size);
  line-height: var(--mixin--FLhvmxju1zo_line-height);
  letter-spacing: var(--mixin--FLhvmxju1zo_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-7rH4rRkRAKF-_color);
  font-size: var(--mixin-7rH4rRkRAKF-_font-size);
  font-weight: var(--mixin-7rH4rRkRAKF-_font-weight);
  letter-spacing: var(--mixin-7rH4rRkRAKF-_letter-spacing);
  line-height: var(--mixin-7rH4rRkRAKF-_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-F_s2yhdyfLQT_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-8raUeAo4FVEX_color);
  font-size: var(--mixin-8raUeAo4FVEX_font-size);
  font-weight: var(--mixin-8raUeAo4FVEX_font-weight);
  line-height: var(--mixin-8raUeAo4FVEX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Cs5PnsJM4_Gi_color);
  font-size: var(--mixin-Cs5PnsJM4_Gi_font-size);
  font-weight: var(--mixin-Cs5PnsJM4_Gi_font-weight);
  line-height: var(--mixin-Cs5PnsJM4_Gi_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-e0t8ZzzXDxUG_font-family);
  border-radius: var(--mixin-e0t8ZzzXDxUG_border-top-left-radius)
    var(--mixin-e0t8ZzzXDxUG_border-top-right-radius)
    var(--mixin-e0t8ZzzXDxUG_border-bottom-right-radius)
    var(--mixin-e0t8ZzzXDxUG_border-bottom-left-radius);
  padding: var(--mixin-e0t8ZzzXDxUG_padding-top)
    var(--mixin-e0t8ZzzXDxUG_padding-right)
    var(--mixin-e0t8ZzzXDxUG_padding-bottom)
    var(--mixin-e0t8ZzzXDxUG_padding-left);
  border-top: var(--mixin-e0t8ZzzXDxUG_border-top-width)
    var(--mixin-e0t8ZzzXDxUG_border-top-style)
    var(--mixin-e0t8ZzzXDxUG_border-top-color);
  border-right: var(--mixin-e0t8ZzzXDxUG_border-right-width)
    var(--mixin-e0t8ZzzXDxUG_border-right-style)
    var(--mixin-e0t8ZzzXDxUG_border-right-color);
  border-bottom: var(--mixin-e0t8ZzzXDxUG_border-bottom-width)
    var(--mixin-e0t8ZzzXDxUG_border-bottom-style)
    var(--mixin-e0t8ZzzXDxUG_border-bottom-color);
  border-left: var(--mixin-e0t8ZzzXDxUG_border-left-width)
    var(--mixin-e0t8ZzzXDxUG_border-left-style)
    var(--mixin-e0t8ZzzXDxUG_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-0OcmSIi1avME_color);
  padding-left: var(--mixin-0OcmSIi1avME_padding-left);
  border-left: var(--mixin-0OcmSIi1avME_border-left-width)
    var(--mixin-0OcmSIi1avME_border-left-style)
    var(--mixin-0OcmSIi1avME_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qMTkZaiFYxk3_font-family);
  border-radius: var(--mixin-qMTkZaiFYxk3_border-top-left-radius)
    var(--mixin-qMTkZaiFYxk3_border-top-right-radius)
    var(--mixin-qMTkZaiFYxk3_border-bottom-right-radius)
    var(--mixin-qMTkZaiFYxk3_border-bottom-left-radius);
  padding: var(--mixin-qMTkZaiFYxk3_padding-top)
    var(--mixin-qMTkZaiFYxk3_padding-right)
    var(--mixin-qMTkZaiFYxk3_padding-bottom)
    var(--mixin-qMTkZaiFYxk3_padding-left);
  border-top: var(--mixin-qMTkZaiFYxk3_border-top-width)
    var(--mixin-qMTkZaiFYxk3_border-top-style)
    var(--mixin-qMTkZaiFYxk3_border-top-color);
  border-right: var(--mixin-qMTkZaiFYxk3_border-right-width)
    var(--mixin-qMTkZaiFYxk3_border-right-style)
    var(--mixin-qMTkZaiFYxk3_border-right-color);
  border-bottom: var(--mixin-qMTkZaiFYxk3_border-bottom-width)
    var(--mixin-qMTkZaiFYxk3_border-bottom-style)
    var(--mixin-qMTkZaiFYxk3_border-bottom-color);
  border-left: var(--mixin-qMTkZaiFYxk3_border-left-width)
    var(--mixin-qMTkZaiFYxk3_border-left-style)
    var(--mixin-qMTkZaiFYxk3_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-06sNyQAPYLIR_display);
  flex-direction: var(--mixin-06sNyQAPYLIR_flex-direction);
  align-items: var(--mixin-06sNyQAPYLIR_align-items);
  justify-content: var(--mixin-06sNyQAPYLIR_justify-content);
  list-style-position: var(--mixin-06sNyQAPYLIR_list-style-position);
  padding-left: var(--mixin-06sNyQAPYLIR_padding-left);
  position: var(--mixin-06sNyQAPYLIR_position);
  list-style-type: var(--mixin-06sNyQAPYLIR_list-style-type);
  flex-column-gap: var(--mixin-06sNyQAPYLIR_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-do-TASBT640B_display);
  flex-direction: var(--mixin-do-TASBT640B_flex-direction);
  align-items: var(--mixin-do-TASBT640B_align-items);
  justify-content: var(--mixin-do-TASBT640B_justify-content);
  list-style-position: var(--mixin-do-TASBT640B_list-style-position);
  padding-left: var(--mixin-do-TASBT640B_padding-left);
  position: var(--mixin-do-TASBT640B_position);
  list-style-type: var(--mixin-do-TASBT640B_list-style-type);
  flex-column-gap: var(--mixin-do-TASBT640B_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-II9k6P_ci_nE_color);
  font-size: var(--mixin-II9k6P_ci_nE_font-size);
  font-weight: var(--mixin-II9k6P_ci_nE_font-weight);
  line-height: var(--mixin-II9k6P_ci_nE_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-THxBVz7YGrzF_color);
  font-size: var(--mixin-THxBVz7YGrzF_font-size);
  font-weight: var(--mixin-THxBVz7YGrzF_font-weight);
  line-height: var(--mixin-THxBVz7YGrzF_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-fiarUd8-D2Tm_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
