.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___5DbTo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5DbTo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___5DbTo > :global(.__wab_flex-container) > *,
.freeBox___5DbTo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5DbTo > :global(.__wab_flex-container) > picture > img,
.freeBox___5DbTo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__mlqCk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ksXdr {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 24px;
  color: var(--token-u3OudfMChOo3);
  flex-shrink: 0;
}
.text__iwAnc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__epmPd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vcr5X {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.text__wi8Yq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zYO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zYO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox__zYO > :global(.__wab_flex-container) > *,
.freeBox__zYO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zYO > :global(.__wab_flex-container) > picture > img,
.freeBox__zYO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.freeBox__huZso {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fffcf5;
  min-width: 0;
  padding: var(--token-UIMkdd_bvvx_);
}
.freeBox__huZso > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__huZso > :global(.__wab_flex-container) > *,
.freeBox__huZso > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__huZso > :global(.__wab_flex-container) > picture > img,
.freeBox__huZso
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text___1Kj1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Kj1M {
    color: var(--token-u3OudfMChOo3);
  }
}
.text__j1PZ2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  color: #747c90;
  min-width: 0;
}
.freeBox__jftlG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + var(--token-W6cMLA0AZVBO)) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__jftlG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__jftlG > :global(.__wab_flex-container) > *,
.freeBox__jftlG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jftlG > :global(.__wab_flex-container) > picture > img,
.freeBox__jftlG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text___4Hz4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Hz4A {
    color: var(--token-u3OudfMChOo3);
  }
}
.eitaa:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ylzte {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + var(--token-W6cMLA0AZVBO)) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ylzte > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ylzte > :global(.__wab_flex-container) > *,
.freeBox__ylzte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ylzte > :global(.__wab_flex-container) > picture > img,
.freeBox__ylzte
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__wYuAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wYuAl {
    color: var(--token-u3OudfMChOo3);
  }
}
.whatsapp:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__b6VXx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ug2U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__dOtV {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__dOtV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dOtV > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - var(--token-_c276Gs_1FIE));
    width: calc(100% + var(--token-_c276Gs_1FIE));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dOtV > :global(.__wab_flex-container) > *,
  .freeBox__dOtV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dOtV > :global(.__wab_flex-container) > picture > img,
  .freeBox__dOtV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-_c276Gs_1FIE);
    margin-top: 0px;
  }
}
.freeBox__awmco {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__awmco > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__awmco > :global(.__wab_flex-container) > *,
.freeBox__awmco > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__awmco > :global(.__wab_flex-container) > picture > img,
.freeBox__awmco
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__d7MSz {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d7MSz {
    color: var(--token-u3OudfMChOo3);
  }
}
.svg__acy02 {
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__dBgzw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q3FJ8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
