.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__bdOGu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__pkfyl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vrgEj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nx1Cm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg___5DbU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kokJy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nITcO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sn6Du {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cAHvK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
