.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.authApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__bhGCx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__lYhYn {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.providerApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wNjv6 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 1em;
}
.spetialitiesApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1LOpQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__eOkO9 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.text__szQgw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__deNqh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__deNqh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__deNqh > :global(.__wab_flex-container) > *,
.freeBox__deNqh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__deNqh > :global(.__wab_flex-container) > picture > img,
.freeBox__deNqh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__hKrof {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hKrof > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hKrof > :global(.__wab_flex-container) > *,
.freeBox__hKrof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hKrof > :global(.__wab_flex-container) > picture > img,
.freeBox__hKrof
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.profileExpertiseItem2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___3Ija4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3Ija4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___3Ija4 > :global(.__wab_flex-container) > *,
.freeBox___3Ija4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Ija4 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Ija4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.button__wTEc8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uOd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__o8Xu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__k32Sc:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xwQBe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fAu9 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.svg___8PBa2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zSbRq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zSbRq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__zSbRq > :global(.__wab_flex-container) > *,
.freeBox__zSbRq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zSbRq > :global(.__wab_flex-container) > picture > img,
.freeBox__zSbRq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.button__tt0Tp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___8RHQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__a5AHs {
  padding-bottom: 0px;
}
.svg__iIyKn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__lcR8T:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___5Zho {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nu3Ag {
  padding-bottom: 0px;
}
.svg__w9AQc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
