.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.auth:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___2LcMf {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 1em;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wpYan {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 1em;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.profilePersonalName:global(.__wab_instance) {
  max-width: 100%;
}
.nationalCode:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.medicalCode:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.profilePersonalPhoneNumber:global(.__wab_instance) {
  max-width: 100%;
}
.providerApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vBmQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.notifyCellApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dnc {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___9PJ2O {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.notifyCell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.profilePersonalBiography:global(.__wab_instance) {
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xM5YX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hCbdr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
