.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.subject {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zgW29 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__nywsf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.eachCost {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.text___1VDjc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3px;
  margin: 3px;
}
.text__fLt8N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.bookCount {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.text__x0V5D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  padding: 3px;
}
.text__w6Zpg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.prefer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.text__fgFc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___59AMk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oKeVr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oKeVr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__oKeVr > :global(.__wab_flex-container) > *,
.freeBox__oKeVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKeVr > :global(.__wab_flex-container) > picture > img,
.freeBox__oKeVr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__ipvRv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-VeLONbiJQakl);
}
.text__t9Ivf {
  width: 100%;
  min-width: 0;
}
.text__jW1Pt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__tk7Hm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pay {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.pay > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-QcxRWQfhgyJI));
  width: calc(100% + var(--token-QcxRWQfhgyJI));
}
.pay > :global(.__wab_flex-container) > *,
.pay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pay > :global(.__wab_flex-container) > picture > img,
.pay > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-QcxRWQfhgyJI);
}
.button__aN9R4:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__wybfo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uz7J3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__rfEPw:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0285 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__avXL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__e1D0A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zpk6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
