.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  padding: 8px;
}
.roottransparent {
  background: #ffffff;
}
.text__n0Jmw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  padding-bottom: 0px;
}
.text__iXwms {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
}
.textsuccses__iXwmsezDA {
  color: var(--token-lw4xv_KKpd4e);
}
