.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.freeBox__z2Gfb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.dialogonlineBorder:global(.__wab_instance):global(.__wab_instance) {
  left: auto;
  top: auto;
}
.freeBox__dHtct {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__dHtct > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__dHtct > :global(.__wab_flex-container) > *,
.freeBox__dHtct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dHtct > :global(.__wab_flex-container) > picture > img,
.freeBox__dHtct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox___2J3Xa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  max-width: 100%;
  background: #27bda00d;
  flex-shrink: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid #27bda03d;
}
.freeBoxonlineBorder___2J3XAulIv {
  display: block;
  border-color: #27bda0;
}
.freeBox__oVKix {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBoxonlineBorder__oVKixulIv {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 0px;
}
.text__e8Amb {
  position: relative;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  align-self: flex-end;
}
.textonlineBorder__e8AmbulIv {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  align-self: center;
}
.freeBox__j7BPc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__j7BPc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__j7BPc > :global(.__wab_flex-container) > *,
.freeBox__j7BPc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7BPc > :global(.__wab_flex-container) > picture > img,
.freeBox__j7BPc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.text__mlIf {
  position: relative;
  font-weight: 500;
}
.freeBox__xIRgq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xIRgq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__xIRgq > :global(.__wab_flex-container) > *,
.freeBox__xIRgq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xIRgq > :global(.__wab_flex-container) > picture > img,
.freeBox__xIRgq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__gpk0H {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 100;
}
.svg__jbJfZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f3740e;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svg___4DleR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #18cd66;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.text__qzqCd {
  position: relative;
  font-weight: 100;
  font-size: 11px;
}
.freeBox___8Lca7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Lca7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___8Lca7 > :global(.__wab_flex-container) > *,
.freeBox___8Lca7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Lca7 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Lca7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.ساعتوتاریخ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f4fbfa;
  min-width: 0;
  border-radius: 10px;
  border: 1px solid var(--token-lw4xv_KKpd4e);
}
.freeBox__dExFk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-_c276Gs_1FIE);
  border-left: 1px solid var(--token-lw4xv_KKpd4e);
}
.text__qOti0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox__gzuCb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-_c276Gs_1FIE);
}
.text__zVvkw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox__v3D9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__zqrF6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__beRqb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__zhQql:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__bnCab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__hJlS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__gtfcs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__nrNoO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__nLkcA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nLkcA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__nLkcA > :global(.__wab_flex-container) > *,
.freeBox__nLkcA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nLkcA > :global(.__wab_flex-container) > picture > img,
.freeBox__nLkcA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__ucrs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__ndPg1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k18Q2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__tq4Iw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.svg__jj7Gd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bTt5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogdeletebook:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___0E1PW {
  height: auto;
}
.freeBox__aWff6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__aWff6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__aWff6 > :global(.__wab_flex-container) > *,
.freeBox__aWff6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aWff6 > :global(.__wab_flex-container) > picture > img,
.freeBox__aWff6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__pgX95:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cSDno {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8ZH4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__sXo7H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ov6H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vyk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.bookState {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.bookState > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.bookState > :global(.__wab_flex-container) > *,
.bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bookState > :global(.__wab_flex-container) > picture > img,
.bookState
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ntGzy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ntGzy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ntGzy > :global(.__wab_flex-container) > *,
.freeBox__ntGzy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ntGzy > :global(.__wab_flex-container) > picture > img,
.freeBox__ntGzy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__yvIxb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.descriptionInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ldo5X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__klTsa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zW9J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7UV9B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uQgNx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.safeCall:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.specifyBookStatusButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
