.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.centersApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cdW1Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__c4N7Z {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.text__c4Wer {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bj1H7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bj1H7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__bj1H7 > :global(.__wab_flex-container) > *,
.freeBox__bj1H7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bj1H7 > :global(.__wab_flex-container) > picture > img,
.freeBox__bj1H7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__do9Q {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__do9Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__do9Q > :global(.__wab_flex-container) > *,
.freeBox__do9Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__do9Q > :global(.__wab_flex-container) > picture > img,
.freeBox__do9Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.provinceSelect:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.citySelect:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__ztYm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ztYm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__ztYm > :global(.__wab_flex-container) > *,
.freeBox__ztYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ztYm > :global(.__wab_flex-container) > picture > img,
.freeBox__ztYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__uMu8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.address:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.profileTells:global(.__wab_instance) {
  position: relative;
}
.input3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.galleryApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4HCMu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__zaVdh {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__axO8D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
  padding: 0px;
}
.freeBox__axO8D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__axO8D > :global(.__wab_flex-container) > *,
.freeBox__axO8D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__axO8D > :global(.__wab_flex-container) > picture > img,
.freeBox__axO8D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.img__feGoA {
  object-fit: contain;
  max-width: 100%;
  height: 112px;
  flex-shrink: 1;
  flex-grow: 0;
  width: auto;
  cursor: pointer;
  border-radius: var(--token-vMUQwr5Jto1d);
}
.img__feGoA > picture > img {
  object-fit: contain;
}
.freeBox__pr7VM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.fragmentFileInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0EeuL {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  align-self: auto;
  cursor: pointer;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma) 200px;
  border: 1px dashed var(--token-VeLONbiJQakl);
}
.freeBox___0EeuL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___0EeuL > :global(.__wab_flex-container) > *,
.freeBox___0EeuL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EeuL > :global(.__wab_flex-container) > picture > img,
.freeBox___0EeuL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0EeuL {
    padding-right: var(--token-QcxRWQfhgyJI);
    padding-left: var(--token-QcxRWQfhgyJI);
  }
}
.svg__mDSc2 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #91a5b6;
  flex-shrink: 0;
}
.text__irtxf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #91a5b6;
  text-align: center;
  min-width: 0;
}
.text__bJllt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #91a5b6;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__qaWiL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qaWiL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__qaWiL > :global(.__wab_flex-container) > *,
.freeBox__qaWiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qaWiL > :global(.__wab_flex-container) > picture > img,
.freeBox__qaWiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.checkbox3:global(.__wab_instance) {
  max-width: 100%;
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__yYGwS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 256px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__p1Evm {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.map:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___9E4Bm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tPrpx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hz6N0 {
  padding-right: 0px;
}
.svg___7Wns {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.imageDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  order: 888;
}
.freeBox__rykZm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rykZm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rykZm > :global(.__wab_flex-container) > *,
.freeBox__rykZm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rykZm > :global(.__wab_flex-container) > picture > img,
.freeBox__rykZm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.img__sXkNt {
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 100%;
}
.img__sXkNt > picture > img {
  object-fit: cover;
}
.button___03UTe:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bXrfn {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #ca3214c7;
}
.svg___6BWKc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deleteImageDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qdRDn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qdRDn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__qdRDn > :global(.__wab_flex-container) > *,
.freeBox__qdRDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qdRDn > :global(.__wab_flex-container) > picture > img,
.freeBox__qdRDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.button__voqZ5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nQfOk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__h3TQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___5FBum:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___7TfQr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___23Khc {
  padding-bottom: 0px;
}
.svg__gjg7N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
