.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__sZtgG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__tNj6D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__my02V {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__my02V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__my02V > :global(.__wab_flex-container) > *,
.freeBox__my02V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__my02V > :global(.__wab_flex-container) > picture > img,
.freeBox__my02V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.to:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__oUoA2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.from:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zLXoO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__vrqwj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.popoverConflictHour2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___5Fs4Q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg___4Gvlx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1jTXKEDkeRHC);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__gqOeI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.text {
  color: var(--token-1jTXKEDkeRHC);
}
.fragmentPopover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__tUmbc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__p7Ka {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___7Pa6 {
  display: flex;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.daysOfWeek:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
