.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.workhours:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7XbTo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ymr2X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
