.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.freeBox__w3Skv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__w3Skv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__w3Skv > :global(.__wab_flex-container) > *,
.freeBox__w3Skv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w3Skv > :global(.__wab_flex-container) > picture > img,
.freeBox__w3Skv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__oZk8G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  max-width: 100%;
  background: #27bda00d;
  flex-shrink: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid #27bda03d;
}
.freeBoxonlineBorder__oZk8G5Rn5G {
  display: block;
  border-color: #27bda0;
}
.freeBox__q4TDk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBoxonlineBorder__q4TDk5Rn5G {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 0px;
}
.text__d7UBi {
  position: relative;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  align-self: flex-end;
}
.textonlineBorder__d7UBi5Rn5G {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  align-self: center;
}
.freeBox__rHcsh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rHcsh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__rHcsh > :global(.__wab_flex-container) > *,
.freeBox__rHcsh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rHcsh > :global(.__wab_flex-container) > picture > img,
.freeBox__rHcsh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.text__lqNfE {
  position: relative;
  font-weight: 500;
}
.freeBox__rChaj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rChaj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__rChaj > :global(.__wab_flex-container) > *,
.freeBox__rChaj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rChaj > :global(.__wab_flex-container) > picture > img,
.freeBox__rChaj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__jdiI {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 100;
}
.svg__alC9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f3740e;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svg__wSo3B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #18cd66;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__vEfgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vEfgU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vEfgU > :global(.__wab_flex-container) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > picture > img,
.freeBox__vEfgU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.ساعتوتارخ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f4fbfa;
  min-width: 0;
  border-radius: 10px;
  border: 1px solid var(--token-lw4xv_KKpd4e);
}
.freeBox__fagh6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-_c276Gs_1FIE);
  border-left: 1px solid var(--token-lw4xv_KKpd4e);
}
.text__wm7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox___0EjId {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-_c276Gs_1FIE);
}
.text__wrvS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox__eAwl4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__usAcf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__w3Sf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__toQxz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__x7Ftj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__ujSgU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__qmwlZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__qHlMg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__iLuiz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.svg__bzhTf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cqwx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ltYs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__y0Ea2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e2Bq9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__czTw6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__zG0Nd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e2Jg5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.دالوحذفنوبت:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eKJnR {
  height: auto;
}
.freeBox__lPskW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lPskW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__lPskW > :global(.__wab_flex-container) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > picture > img,
.freeBox__lPskW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__drPzr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__t9LDe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yvM6Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fGkkd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uesDl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ud3Gi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.bookState {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.bookState > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.bookState > :global(.__wab_flex-container) > *,
.bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bookState > :global(.__wab_flex-container) > picture > img,
.bookState
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hwdAm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hwdAm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hwdAm > :global(.__wab_flex-container) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > picture > img,
.freeBox__hwdAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__t1DSe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.descriptionInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kv061 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g83Yu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__elFDx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oTgvt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gUzaQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.safeCall:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.bookStatusButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
