.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bE5G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mljoZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6E1Ri {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6E1Ri > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___6E1Ri > :global(.__wab_flex-container) > *,
.freeBox___6E1Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6E1Ri > :global(.__wab_flex-container) > picture > img,
.freeBox___6E1Ri
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.freeBox__uH8A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #27bda00d;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #27bda03d;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__l9OeP {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.freeBox__vXIx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.freeBox__vXIx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vXIx > :global(.__wab_flex-container) > *,
.freeBox__vXIx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vXIx > :global(.__wab_flex-container) > picture > img,
.freeBox__vXIx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.fragmentTimePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__u8AWe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7V3Od {
  color: var(--token-Y3HOiwZmAcAF);
}
.svg__k373S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__itxxt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-IOWZQyrdKsEL);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #27bda03d;
}
.text__pcO2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__cBvHc {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15%;
  flex-shrink: 0;
}
