.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBoxdeleteNewWorkhoure {
  display: flex;
}
.to:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1BWiY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.from:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__x0U1O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
