.tells {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.tells > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.tells > :global(.__wab_flex-container) > *,
.tells > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tells > :global(.__wab_flex-container) > picture > img,
.tells > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__recuw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 0px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.input2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  border-width: 1px;
  border-style: none;
}
.svg___7UvRb {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-u3OudfMChOo3);
  flex-shrink: 0;
}
.freeBox__pmjag {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pmjag > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__pmjag > :global(.__wab_flex-container) > *,
.freeBox__pmjag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmjag > :global(.__wab_flex-container) > picture > img,
.freeBox__pmjag
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__boDhU {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 0px 0px 0px var(--token-fhaz6q6bl-fW);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.input4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  border-width: 1px;
  border-style: none;
}
.svg__ijJ5X {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-u3OudfMChOo3);
  flex-shrink: 0;
}
.button___116Wj:global(.__wab_instance) {
  max-width: 100%;
}
.svg__t0Aw8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cX25F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__ijPDe {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.svg__yOimc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__leY4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ekg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-n7oRIobFxMYD);
}
.text {
  font-weight: 500;
}
.svg__d0TXg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
