.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__u6DHm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 20%;
  height: 2.5rem;
  max-width: 100%;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 0px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__u6DHm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__u6DHm > :global(.__wab_flex-container) > *,
.freeBox__u6DHm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u6DHm > :global(.__wab_flex-container) > picture > img,
.freeBox__u6DHm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u6DHm {
    width: 30%;
  }
}
.svg__gIdMc {
  object-fit: cover;
  max-width: 100%;
  color: #ef7c01;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__o6Pq9 {
  object-fit: cover;
  max-width: 100%;
  color: #5bd266;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__sNwbV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.freeBox__aaHpl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aaHpl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__aaHpl > :global(.__wab_flex-container) > *,
.freeBox__aaHpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aaHpl > :global(.__wab_flex-container) > picture > img,
.freeBox__aaHpl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.number:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__v832N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__v832N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__v832N > :global(.__wab_flex-container) > *,
.freeBox__v832N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v832N > :global(.__wab_flex-container) > picture > img,
.freeBox__v832N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.username:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ygyEz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hzwft {
  font-weight: 500;
}
.svg__hn516 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
