.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rlN84 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: right;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  min-width: 0;
}
.nationalCode:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__hXFfy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mfVmP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___98H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5DMdX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.booktime:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__oxki4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.verticalStackData {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.verticalStackData > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.verticalStackData > :global(.__wab_flex-container) > *,
.verticalStackData > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.verticalStackData > :global(.__wab_flex-container) > picture > img,
.verticalStackData
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__rdMk4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 500;
  min-width: 0;
}
.inputcell:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xyx5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cAygc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.inputfullname:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__d2Ywq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mX5MG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.httpRestApiFetcher__u6ZdB:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
}
.text__a7PNv {
  text-align: center;
}
.verticalStackFunction {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.verticalStackFunction > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.verticalStackFunction > :global(.__wab_flex-container) > *,
.verticalStackFunction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.verticalStackFunction > :global(.__wab_flex-container) > picture > img,
.verticalStackFunction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeturnBook:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nchar {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___15U4V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.preferBooktimeButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fwPna {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b5FO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.preferBooktime:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__xnFeB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kqRc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__kqRc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__kqRc > :global(.__wab_flex-container) > *,
.freeBox__kqRc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kqRc > :global(.__wab_flex-container) > picture > img,
.freeBox__kqRc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__skZB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
}
.تقوم:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sUsAp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox___2SXqI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.datePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__mTcO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 1px;
}
.httpRestApiFetcher__nyQGf:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__naOsf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__cixM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__k5TzV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tnT4M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hage0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.freeBox__hage0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__hage0 > :global(.__wab_flex-container) > *,
.freeBox__hage0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hage0 > :global(.__wab_flex-container) > picture > img,
.freeBox__hage0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox__eUi9U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 65px;
  height: auto;
  max-width: 100%;
  background: #27bda00d;
  flex-shrink: 0;
  border-radius: 1px;
  padding: 8px;
  border: 1px solid #27bda03d;
}
.text__tPPx {
  width: auto;
  height: auto;
  max-width: 100%;
}
