.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__fFzSn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  max-width: 100%;
  background: #27bda00d;
  flex-shrink: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid #27bda03d;
}
.freeBox__fMdql {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.text {
  position: relative;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  align-self: flex-end;
}
