.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-vMUQwr5Jto1d);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect__tmK5W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__f5Ril {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__qaz19 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  padding: 8px;
}
.freeBox__azIzH {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text___0J7YP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.notificationSetting2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1f5f980;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox__cbql5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.who {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.who > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.who > :global(.__wab_flex-container) > *,
.who > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.who > :global(.__wab_flex-container) > picture > img,
.who > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.svg__v8CEx {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.text__ggSUn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
}
.what {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__neP5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__neP5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__neP5 > :global(.__wab_flex-container) > *,
.freeBox__neP5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neP5 > :global(.__wab_flex-container) > picture > img,
.freeBox__neP5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.submitBook {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lw4xv_KKpd4e);
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.deleteBook {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--ypw6enySR1T);
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__yQkAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 17px;
  min-width: 0;
}
.freeBox__tSAgC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tSAgC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__tSAgC > :global(.__wab_flex-container) > *,
.freeBox__tSAgC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tSAgC > :global(.__wab_flex-container) > picture > img,
.freeBox__tSAgC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.sms {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__xog79 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
.edit {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button__ilRme:global(.__wab_instance) {
  max-width: 100%;
}
.svg___33QMj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wSkKh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j3EM {
  text-align: center;
}
.receivers2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.receivers2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.receivers2 > :global(.__wab_flex-container) > *,
.receivers2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.receivers2 > :global(.__wab_flex-container) > picture > img,
.receivers2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__eFdUt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__y63HI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sideEffect__iL9Mw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.fragmentPopoverWho:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__giSxF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__kzncg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kzncg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__kzncg > :global(.__wab_flex-container) > *,
.freeBox__kzncg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kzncg > :global(.__wab_flex-container) > picture > img,
.freeBox__kzncg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__lpSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__x6Ep9 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__bw7V1 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__pBvyV {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__pBvyV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__pBvyV > :global(.__wab_flex-container) > *,
.freeBox__pBvyV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pBvyV > :global(.__wab_flex-container) > picture > img,
.freeBox__pBvyV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__vjxbW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__vjxbW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__vjxbW > :global(.__wab_flex-container) > *,
.freeBox__vjxbW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vjxbW > :global(.__wab_flex-container) > picture > img,
.freeBox__vjxbW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text___0PDrT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg___5P7T9 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__jr5Nb {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__jr5Nb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__jr5Nb > :global(.__wab_flex-container) > *,
.freeBox__jr5Nb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jr5Nb > :global(.__wab_flex-container) > picture > img,
.freeBox__jr5Nb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__acMnJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__qLuCu {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__eJhch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__c5PcM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text___1K4Av {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__cOCbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__crW6F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__crW6F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__crW6F > :global(.__wab_flex-container) > *,
.freeBox__crW6F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__crW6F > :global(.__wab_flex-container) > picture > img,
.freeBox__crW6F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.fragmentPopoverText:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__x9Vk8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__sDy1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__evcZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__kg7Nr {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__k2YbO {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__qv67C {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__qv67C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__qv67C > :global(.__wab_flex-container) > *,
.freeBox__qv67C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qv67C > :global(.__wab_flex-container) > picture > img,
.freeBox__qv67C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.drname {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__x25El {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__u4SXc {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.patientname {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__gwvpu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__bBshT {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.refid {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__ipipT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__byfFg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.time {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  pointer-events: auto;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__nyYc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__hUIbO {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.richTextEditor:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__iw5Yb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.save {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__idj9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___8QpQp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__sa2Ne {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bodz7 {
  color: #ededec;
}
.svg__kOg4D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.addNew {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button___3VPip:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ihT7R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__r65Lx {
  padding-right: 0px;
}
.svg__g1Cx4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__igb2K {
  text-align: center;
}
.receivers3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.receivers3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.receivers3 > :global(.__wab_flex-container) > *,
.receivers3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.receivers3 > :global(.__wab_flex-container) > picture > img,
.receivers3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__hslra {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__p0HFo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sideEffect__fdQ3E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.fragmentPopoverAddnew:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__r1Ay1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__xlecq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xlecq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__xlecq > :global(.__wab_flex-container) > *,
.freeBox__xlecq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xlecq > :global(.__wab_flex-container) > picture > img,
.freeBox__xlecq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__qvlXz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__dxgXb {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__p9XJf {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox___0Dr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox___0Dr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___0Dr > :global(.__wab_flex-container) > *,
.freeBox___0Dr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Dr > :global(.__wab_flex-container) > picture > img,
.freeBox___0Dr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__riqI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__riqI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__riqI > :global(.__wab_flex-container) > *,
.freeBox__riqI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__riqI > :global(.__wab_flex-container) > picture > img,
.freeBox__riqI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__bMUtq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg___8TVMd {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__nOnBa {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__nOnBa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__nOnBa > :global(.__wab_flex-container) > *,
.freeBox__nOnBa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOnBa > :global(.__wab_flex-container) > picture > img,
.freeBox__nOnBa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text___1Ab24 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__x9Ui5 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__gvHzb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__t8WuM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text___4Vwe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.text2 > :global(.__wab_flex-container) > *,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text2 > :global(.__wab_flex-container) > picture > img,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__aycvm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ndyno {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ndyno > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ndyno > :global(.__wab_flex-container) > *,
.freeBox__ndyno > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ndyno > :global(.__wab_flex-container) > picture > img,
.freeBox__ndyno
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.fragmentPopoverText2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__acEDm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__gWzlb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zJQb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___9AzbR {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__m6Hfs {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__o77No {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__o77No > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__o77No > :global(.__wab_flex-container) > *,
.freeBox__o77No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o77No > :global(.__wab_flex-container) > picture > img,
.freeBox__o77No
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.drname2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__kOn3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__qtUbd {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.patientname2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__yPn6J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__mvdbt {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.refid2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__ctanh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__nvYag {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.time2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  pointer-events: auto;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.text__aAyw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg__a8Xy {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.richTextEditor2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__thpDm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.save2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sqUxU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__g15L0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__aBeG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qorE {
  color: #ededec;
}
.svg__iTbUn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.when {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.when > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.when > :global(.__wab_flex-container) > *,
.when > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.when > :global(.__wab_flex-container) > picture > img,
.when > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text___6Ih0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ixSzn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sideEffect__mXjwN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.fragmentPopover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xepPa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__hGJ9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hGJ9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hGJ9 > :global(.__wab_flex-container) > *,
.freeBox__hGJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hGJ9 > :global(.__wab_flex-container) > picture > img,
.freeBox__hGJ9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__jpede {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__eBlsk {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__dfZsr {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__i2EkX {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__i2EkX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__i2EkX > :global(.__wab_flex-container) > *,
.freeBox__i2EkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i2EkX > :global(.__wab_flex-container) > picture > img,
.freeBox__i2EkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__qxrZj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__qxrZj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__qxrZj > :global(.__wab_flex-container) > *,
.freeBox__qxrZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxrZj > :global(.__wab_flex-container) > picture > img,
.freeBox__qxrZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__kJ7M0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lw4xv_KKpd4e);
  color: var(--token-PeJTH_WMN3fq);
  min-width: 0;
  border-style: solid;
}
.svg__l1Mfg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.how {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.how > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.how > :global(.__wab_flex-container) > *,
.how > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.how > :global(.__wab_flex-container) > picture > img,
.how > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__h2UOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__soPl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sideEffect__tQnm7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.fragmentPopover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5HPbo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__fiR0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fiR0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__fiR0 > :global(.__wab_flex-container) > *,
.freeBox__fiR0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fiR0 > :global(.__wab_flex-container) > picture > img,
.freeBox__fiR0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__mYpPs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__kWiXk {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__rdqdq {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__n44Hr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__n44Hr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__n44Hr > :global(.__wab_flex-container) > *,
.freeBox__n44Hr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n44Hr > :global(.__wab_flex-container) > picture > img,
.freeBox__n44Hr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__vVlBv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 250px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__vVlBv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__vVlBv > :global(.__wab_flex-container) > *,
.freeBox__vVlBv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vVlBv > :global(.__wab_flex-container) > picture > img,
.freeBox__vVlBv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__vdDqd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.svg___2As3S {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
