.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.authApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__okRnv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__vi37B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vi37B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__vi37B > :global(.__wab_flex-container) > *,
.freeBox__vi37B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vi37B > :global(.__wab_flex-container) > picture > img,
.freeBox__vi37B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__j39Cj {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__j39Cj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__j39Cj > :global(.__wab_flex-container) > *,
.freeBox__j39Cj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j39Cj > :global(.__wab_flex-container) > picture > img,
.freeBox__j39Cj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-JDvyxAtm9ONK);
}
.text__z8T8G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 400;
  min-width: 0;
}
.freeBox__phLNe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.oldPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__foiIa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__foiIa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__foiIa > :global(.__wab_flex-container) > *,
.freeBox__foiIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__foiIa > :global(.__wab_flex-container) > picture > img,
.freeBox__foiIa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.repeatPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nC4E8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1Gj7T {
  padding-left: 0px;
}
.svg__e1DFf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
