.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__p2O2Y {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-bottom-right-radius: var(--token-Fv8-L_kN-2Ma);
  border-bottom-left-radius: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma) 8px;
}
.freeBox__p2O2Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__p2O2Y > :global(.__wab_flex-container) > *,
.freeBox__p2O2Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p2O2Y > :global(.__wab_flex-container) > picture > img,
.freeBox__p2O2Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__sK3Um {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__sK3Um > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__sK3Um > :global(.__wab_flex-container) > *,
.freeBox__sK3Um > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sK3Um > :global(.__wab_flex-container) > picture > img,
.freeBox__sK3Um
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__f836 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}
.freeBox__lx8K6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__lx8K6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__lx8K6 > :global(.__wab_flex-container) > *,
.freeBox__lx8K6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lx8K6 > :global(.__wab_flex-container) > picture > img,
.freeBox__lx8K6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__gxBDc {
  width: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-tM2Vh4zTir7U);
}
.freeBox__bjZmx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bjZmx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__bjZmx > :global(.__wab_flex-container) > *,
.freeBox__bjZmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bjZmx > :global(.__wab_flex-container) > picture > img,
.freeBox__bjZmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__afQM {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  background: none;
  padding-right: var(--token-vMUQwr5Jto1d);
  padding-left: var(--token-vMUQwr5Jto1d);
  white-space: pre;
  border-radius: 1000px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__prR0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: var(--token-m74yTzJEHMEw);
  cursor: pointer;
  border-radius: 1000px;
  padding: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.link {
  position: relative;
  width: auto;
  white-space: pre;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  font-weight: 400;
  font-size: var(--token-VrIY9r5RDQZ_);
  text-align: center;
  color: var(--token-u3OudfMChOo3);
}
