.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.button:global(.__wab_instance) {
  max-width: 35%;
  position: relative;
  width: 35px;
  height: 35px;
  min-width: 35px;
  flex-shrink: 0;
}
.svg___2Bw84 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text {
  display: none;
}
.svg__rKplu {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  min-width: 15px;
  height: 15px;
}
.svg__uN9Yp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
